<div class="row">
    <div class="col-sm-2">
        <%= render 'users', users: @followers %>
    </div>
</div>
<div class="container mt-5">
    <div class="row" >
        <div class="btn btn-dark" ><%= link_to 'Logout', logout_path, method: :delete%></div>
        <div class="btn btn-outline-success ml-4"><%= link_to 'プロフィールに戻る', user_path %></div>
    </div>
</div>

