<% if logged_in? %>
  <%= form_with(model: @investerx, local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
    </div>
    <div class="text-center">
    <%= f.submit 'Post', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="btn btn-outline-success mt-4"><%= link_to '自分のプロフィールに戻る', current_user %></div>
<% end %>